.bg-black {
    background-color: #111 !important;
    color: #fff !important;
    padding: 20px;
}

.bg-grey-flat {
    background-color: #eee !important;
    color: #111 !important;
    padding: 20px;
}

.sc-landing-link-boxes {
    height: 366px;
}

.jumbotron {
    background-color: #eee;
    background: -webkit-linear-gradient(#fff, #eee);
    background: -o-linear-gradient(#fff, #eee);
    background: -moz-linear-gradient(#fff, #eee);
    background: linear-gradient(#fff, #eee);
    color: #111 !important;
    background-size: cover;
    color: inherit;
    height: 1000px;
    margin-bottom: 0;
    padding: 0;
}

.jumbotron-stats {
    background-color: #0066a1;
    background-size: cover;
    color: inherit;
    margin-bottom: 0;
    min-height: 0;
    padding: 80px 20px 70px 20px;
}

.jumbotron-stats hr {
    margin-top: 4em;
    margin-bottom: 4em;
    border: 0;
    border-top: 1px solid #eee;
    width: 45%;
}

p.sc-stats-number {
    color: #ffc628;
    font-family: "futura-pt", Futura, Helvetica, Arial, sans-serif;
    font-size: 7em;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 3px 3px #111;
}

p.sc-stats-text {
    color: #ffc628;
    font-size: 2em;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 2px 2px #111;
}


.enroll-now-smallscreens {
    display: none;
}

.enroll-now-desktop {
    border-radius: 2px 2px 0 0;
    display: block;
    margin-top: 775px;
    max-width: 570px;
    margin-left: 80px;
}

.enroll-now-desktop-ca {
    border-radius: 2px 2px 0 0;
    display: block;
    margin-top: 823px;
    max-width: 570px;
    margin-left: 80px;
}

.enroll-now-desktop-short {
    border-radius: 2px 2px 0 0;
    display: block;
    margin-top: 823px;
    max-width: 575px;
    margin-left: 80px;
}

.enroll-now-desktop-medium {
    border-radius: 2px 2px 0 0;
    display: block;
    margin-top: 823px;
    max-width: 620px;
    margin-left: 80px;
}

.enroll-now-desktop-cw {
    border-radius: 2px 2px 0 0;
    display: block;
    margin-top: 775px;
    max-width: 670px;
    margin-left: 80px;
}

.space-top-for-column {
    margin-top: 0;
}

.give-now-desktop-foundation {
    border-radius: 2px 2px 0 0;
    display: block;
    margin-top: 768px;
    max-width: 666px;
    margin-left: 80px;
}

.enroll-now-bas-track-desktop {
    border-radius: 2px 2px 0 0;
    display: block;
    margin-top: 804px;
    max-width: 633px;
    margin-left: 80px;
}

h1.site-section-title-minimal {
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    line-height: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    text-shadow: 2px 2px #000;
}

h2.site-section-quote, 
h2.site-section-bas-track {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    line-height: 100%;
    margin-top: 0;
    margin-bottom: 18px;
    text-shadow: 2px 2px #000;
}    

h1.site-section-title {
    color: #fff;
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    margin-top: 0;
    margin-bottom: 18px;
    text-shadow: 2px 2px #000;
}

.programs-title {
    border-bottom: 5px solid #ffc628;
    color: #0066a1;
    font-size: 52px;
    font-weight: 700;
    line-height: 1;
    margin: 0 auto;
    padding: 20px 10px 7px 0;
    margin-bottom: 30px;
}

.program-page-secondary-content,
.program-page-main-content-getstarted {
    font-size: 24px;
    line-height: 1.5;
    padding-bottom: 1.5em;
}

.program-page-main-content .basic-title, 
.program-page-secondary-content .basic-title  {
    margin-bottom: 24px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
}

.program-page-main-content h2, .program-page-secondary-content h2,
.program-page-main-content h3, .program-page-secondary-content h3,
.program-page-main-content h4, .program-page-secondary-content h4,
.program-page-main-content h5, .program-page-secondary-content h5,
.program-page-main-content h6, .program-page-secondary-content h6 {
    font-weight: 700;
    font-style: normal;
}

.program-page-main-content h2, 
.program-page-secondary-content h2 {
    font-size: 48px;
    line-height: 1;
    margin-top: 36px;
    margin-bottom: 30px;
}

.program-page-main-content h3, 
.program-page-secondary-content h3 {
    border-bottom: 4px solid #eee;
    color: #555;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 15px;
    margin-top: 36px;
}

.program-page-main-content p, .program-page-secondary-content p, 
.program-page-main-content ol, .program-page-secondary-content ol, 
.program-page-main-content ul, .program-page-secondary-content ul {
    margin: 0 0 1em;
}

.program-page-main-content ol, .program-page-secondary-content ol, 
.program-page-main-content ul, .program-page-secondary-content ul {
    margin: 0 0 1em -10px;
}

.program-page-main-content ul li, .program-page-secondary-content ul li, 
.program-page-main-content ol li, .program-page-secondary-content ol li {
    margin-bottom: 14px;
}

.program-page-main-content a, .program-page-secondary-content a {
    text-decoration: none;
    color: #0000ff;
}

.program-page-main-content a:hover, .program-page-secondary-content a:hover {
    background-color: #ffce46;
    color: #0000c1;
    text-decoration: underline;
}

.program-page-main-content .btn-primary,
.program-page-secondary-content .btn-primary {
    color: #002c46;
    background-color: #ffc628;
    border: 1px solid #ffc628;
    text-decoration: none;
}

.program-page-main-content .btn-primary:focus,
.program-page-main-content .btn-primary.focus,
.program-page-secondary-content .btn-primary:focus,
.program-page-secondary-content .btn-primary.focus {
    color: #fff;
    background-color: #0066a1;
    border: 1px solid #0066a1;
    text-decoration: none;
}

.program-page-main-content .btn-primary:hover,
.program-page-secondary-content .btn-primary:hover {
    color: #fff;
    background-color: #0066a1;
    border: 1px solid #0066a1;
    text-decoration: none;
}    

.card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin: 18px 0 30px 0;
    transition: 0.3s;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 2px;
}

.card-container {
    padding: 2px 16px;
}

.cards-bottom {
    margin-bottom: 30px;
}

.article-headline {
    font-size: 19px;
    font-weight: 600;
}

.article-headline a {
    color: #222;
}

.sc-quote-text {
    font-size: 30px;
    font-weight: 500;
    color: #777;
    line-height: 40px;
    margin-top: 24px !important;
}

.sc-person-quote {
    color: #333;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

.btn-primary {
    margin-left: 0 !important;
}

@media only screen and (max-width: 1920px) {
    .jumbotron {
        height: 920px;
    }

    .enroll-now-desktop {
        display: block;
        margin-top: 695px;
        max-width: 520px;
    }

    .enroll-now-desktop-ca {
        display: block;
        margin-top: 743px;
        max-width: 520px;
    }

    .enroll-now-desktop-short {
        margin-top: 743px;
        max-width: 575px;
    }

    .enroll-now-desktop-medium {
        margin-top: 743px;
        max-width: 620px;
    }

    .enroll-now-desktop-cw {
        display: block;
        margin-top: 695px;
        max-width: 660px;
    }

    .give-now-desktop-foundation {
        display: block;
        margin-top: 688px;
    }

    .enroll-now-bas-track-desktop {
        margin-top: 724px;
    }
}    

@media only screen and (max-width: 1680px) {
    .jumbotron {
        height: 840px;
    }

    .enroll-now-desktop {
        display: block;
        margin-top: 627px;
    }

    .enroll-now-desktop-ca,
    .enroll-now-desktop-short,
    .enroll-now-desktop-medium {
        display: block;
        margin-top: 669px;
    }

    .enroll-now-desktop-cw {
        display: block;
        margin-top: 627px;
    }

    .give-now-desktop-foundation {
        margin-top: 608px;
    }

    .enroll-now-bas-track-desktop {
        margin-top: 644px;
    }

    h1.site-section-title {
        font-size: 42px;
    }
}

@media only screen and (max-width: 1600px) {
    .jumbotron {
        height: 740px;
    }

    .enroll-now-desktop {
        display: block;
        margin-top: 527px;
        max-width: 520px;
    }

    .enroll-now-desktop-ca,
    .enroll-now-desktop-short {
        display: block;
        margin-top: 569px;
        max-width: 520px;
    }

    .enroll-now-desktop-medium {
        display: block;
        margin-top: 569px;
        max-width: 600px;
    }

    .enroll-now-desktop-cw {
        display: block;
        margin-top: 527px;
        max-width: 600px;
    }

    .give-now-desktop-foundation {
        margin-top: 527px;
        max-width: 600px;
    }

    .enroll-now-bas-track-desktop {
        margin-top: 549px;
    }

    h1.site-section-title-minimal {
        font-size: 18px;
        margin-bottom: 8px;
    }

    h2.site-section-quote {
        font-size: 30px;
        margin-bottom: 16px;
    }

    h1.site-section-title {
        font-size: 42px;
    }
}

@media only screen and (max-width: 1440px) {
    .jumbotron {
        height: 740px;
    }

    .enroll-now-desktop,
    .enroll-now-desktop-ca,
    .enroll-now-desktop-cw,
    .enroll-now-desktop-medium,
    .give-now-desktop-foundation,
    .enroll-now-bas-track-desktop {
        margin-left: 0;
    }

    .foundation-branding img {
        width: 125px;
    }

    h1.site-section-title {
        font-size: 42px;
    }
}

@media only screen and (max-width: 1366px) {
    .jumbotron {
        height: 600px;
    }

    .enroll-now-desktop {
        margin-top: 387px;
        max-width: 450px;
    }

    .enroll-now-desktop-ca {
        margin-top: 429px;
        max-width: 450px;
    }

    .enroll-now-desktop-short {
        margin-top: 429px;
        max-width: 510px;
    }

    .enroll-now-desktop-medium {
        margin-top: 429px;
        max-width: 580px;
    }

    .enroll-now-desktop-cw {
        margin-top: 387px;
        max-width: 560px;
    }

    .give-now-desktop-foundation {
        margin-top: 387px;
    }

    .enroll-now-bas-track-desktop {
        margin-top: 409px;
    }
}

@media only screen and (max-width: 1280px) {
    .jumbotron {
        height: 630px;
    }

    .enroll-now-desktop {
        margin-top: 429px;
        max-width: 450px;
    }

    .enroll-now-desktop-ca,
    .enroll-now-desktop-short {
        margin-top: 465px;
        max-width: 450px;
    }

    .enroll-now-desktop-medium {
        margin-top: 465px;
    }

    .enroll-now-desktop-cw {
        margin-top: 429px;
        max-width: 490px;
    }

    .give-now-desktop-foundation {
        margin-top: 417px;
    } 

    .enroll-now-bas-track-desktop {
        margin-top: 439px;
    }

    h1.site-section-title {
        font-size: 36px;
    }

    .programs-title {
        font-size: 48px;
    }

    p.enroll-cta {
        font-size: 17px;
    }

    .program-page-main-content, 
    .program-page-secondary-content, 
    .program-page-main-content p.enroll-cta {
        font-size: 21px;
        padding-top: 1.15em;
    }

    .program-page-main-content .basic-title {
        margin-bottom: 48px;
        margin-top: 4px;
        font-size: 31px;
        line-height: 36px;
        font-weight: 700;
    }

    .program-page-main-content h2, 
    .program-page-secondary-content h2 {
        font-size: 42px;
        font-weight: 700;
        margin-top: 24px;
        margin-bottom: 10px;
    }

    .program-page-main-content h3, 
    .program-page-secondary-content h3 {
        color: #111;
        font-size: 24px;
        margin-top: 24px;
        margin-bottom: 10px;
    }

    .program-page-sidebar h4.list-group-item-heading {
        font-size: 19px;
    }
}

@media only screen and (max-width: 1024px) {
    .jumbotron {
        height: 420px;
    }

    .program-page-main-content ol, .program-page-secondary-content ol, 
    .program-page-main-content ul, .program-page-secondary-content ul {
        margin: 0 0 .8em -8px;
    }

    .enroll-now-desktop, 
    .enroll-now-desktop-ca,
    .enroll-now-desktop-short,
    .enroll-now-desktop-medium, 
    .enroll-now-desktop-cw,
    .give-now-desktop-foundation,
    .enroll-now-bas-track-desktop {
        display: none;
    }

    .enroll-now-smallscreens {
        display: block;
        padding: 20px;
    }

    .foundation-branding img {
        width: 105px;
    }

    h1.site-section-title-minimal {
        color: #111;
        font-size: 16px;
        margin-bottom: 8px;
        text-shadow: none;
    }

    h2.site-section-quote,
    h2.site-section-bas-track {
        color: #111;
        font-size: 30px;
        margin-bottom: 14px;
        text-shadow: none;
    }

    h1.site-section-title {
        color: #111;
        font-size: 30px;
        text-shadow: none;
    }

    .programs-title {
        font-size: 42px;
    }

    p.enroll-cta {
        font-size: 19px;
    }

    .program-page-main-content, 
    .program-page-secondary-content, 
    .program-page-main-content p.enroll-cta {
        font-size: 18px;
        padding: 0 24px 24px 24px;
    }

    .program-page-main-content .small-screen-section-title {
        display: block;
        font-size: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .program-page-main-content .small-screen-section-title a {
        background-color: #eee;
        border-bottom: none;
        color: #111;
        font-weight: 500;
    }

    .program-page-main-content .small-screen-section-title a:hover {
        background-color: #eee;
        border-bottom: none;
        color: #666;
        font-weight: 500;
    }

    .program-page-main-content .basic-title {
        font-size: 33px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 24px;
        margin-top: 20px;
    }

    .program-page-main-content h2, 
    .program-page-secondary-content h2 {
        font-size: 30px;
        font-weight: 700;
        margin-top: 26px;
        margin-bottom: 12px;
    }

    .program-page-main-content h3, 
    .program-page-secondary-content h3 {
        color: #111;
        font-size: 24px;
        margin-top: 26px;
        margin-bottom: 12px;
    }

    .sc-quote-text {
        font-size: 18px;
        line-height: 30px;
        margin-top: 20px !important;
    }

    .sc-person-quote {
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {
    p.sc-stats-number {
        font-size: 6em;
    }

    p.sc-stats-text {
        font-size: 1.725em;
    }

    .programs-title {
        font-size: 36px;
    }

    p.enroll-cta {
        font-size: 17px;
    }

    .space-top-for-column {
        margin-top: 15px;
    }

    .program-page-secondary-content img {
        padding: 0;
    }

    .program-page-main-content, 
    .program-page-secondary-content, 
    .article-headline {
        font-size: 18px;
    }

    .program-page-main-content .basic-title {
        margin-bottom: 22px;
        margin-top: 16px;
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
    }

    .program-page-main-content h2, 
    .program-page-secondary-content h2 {
        font-size: 24px;
        font-weight: 700;
        margin-top: 24px;
        margin-bottom: 10px;
    }

    .program-page-main-content h3, 
    .program-page-secondary-content h3 {
        border-bottom: 3px solid #eee;
        font-size: 21px;
        margin-top: 21px;
        margin-bottom: 10px;
    }

    .sc-quote-text {
        color: #222;
        font-size: 16px;
        line-height: 24px;
        margin-top: 18px !important;
    }

    .sc-person-quote {
        color: #222;
        font-size: 14px;
    }

}

@media only screen and (max-width: 600px) {
    p.sc-stats-number {
        font-size: 5em;
        text-shadow: 2px 2px #111;
    }

    p.sc-stats-text {
        font-size: 1.25em;
        text-shadow: 1px 1px #111;
    }

    .foundation-branding img {
        width: 100px;
    }

    .jumbotron {
        height: 300px;
    }

    h1.site-section-title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .programs-title, 
    .news-feed-title {
        border-bottom: 4px solid #ffc628;
        font-size: 30px;
    }

    p.enroll-cta {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .program-page-main-content, 
    .program-page-secondary-content, 
    .article-headline,
    .program-page-main-content p.enroll-cta {
        font-size: 16px;
        padding: 5px 20px;
    }

    .details-page-main-content .basic-title {
        margin-bottom: 22px;
        margin-top: 10px;
        font-size: 24px;
        line-height: 30px;
    }

    .sc-quote-text {
        font-size: 14px;
        line-height: 24px;
        margin-top: 18px !important;
    }

    .sc-person-quote {
        font-size: 12px;
    }

    .btn {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 450px) {
    .enroll-now-smallscreens .btn, 
    .read-more-smallscreens .btn {
        display: block;
        margin-top: 10px;
    }
}