{#
/**
* @file
* Default theme implementation for a menu block.
*
* Available variables:
* - plugin_id: The ID of the block implementation.
* - label: The configured label of the block if visible.
* - configuration: A list of the block's configuration values.
*   - label: The configured label for the block.
*   - label_display: The display settings for the label.
*   - provider: The module or other provider that provided this block plugin.
*   - Block plugin specific settings will also be stored here.
* - content: The content of this block.
* - attributes: HTML attributes for the containing element.
*   - id: A valid HTML ID and guaranteed unique.
* - title_attributes: HTML attributes for the title element.
* - content_attributes: HTML attributes for the content element.
* - title_prefix: Additional output populated by modules, intended to be
*   displayed in front of the main title tag that appears in the template.
* - title_suffix: Additional output populated by modules, intended to be
*   displayed after the main title tag that appears in the template.
*
* Headings should be used on navigation menus that consistently appear on
* multiple pages. When this menu block's label is configured to not be
* displayed, it is automatically made invisible using the 'visually-hidden' CSS
* class, which still keeps it visible for screen-readers and assistive
* technology. Headings allow screen-reader and keyboard only users to navigate
* to or skip the links.
* See http://juicystudio.com/article/screen-readers-display-none.php and
* http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
*
* @ingroup templates
*/
#}
<div class="sc-header-global-menu">
    <div id="main-menu-div" aria-label="Main Seattle Central College Menu" tabindex="0">
        <span class="sr-only">Toggle global navigation</span>
        <i class="icon ion-navicon"></i>
    </div>
</div>
<nav id="scSidenav" class="sidenav" role="navigation"
     aria-label="Side Navigation containing all Seattle Central Menu options">
    <a href="javascript:void(0)" class="closebtn" aria-label="Close" tabindex="-1">&times;</a>
    <div class="sc-mobilesearch-container sc-visible-1200">
        <div id="sc-mobile-searchbar">
            <form tabindex="0" id="search-block-form" method="get" action="/search-seattle-central/"
                  accept-charset="UTF-8" data-drupal-form-fields="edit-query,edit-submit-acquia-search">
                <button tabindex="0" name="search" id="sc-mobile-searchsubmit" class="icon ion-search"></button>
                <input tabindex="0" data-drupal-selector="edit-keys" id="sc-mobile-s" value="" size="15" maxlength="128"
                       type="search" id="s" name="q" data-toggle="tooltip"
                       data-original-title="Search Seattle Central" placeholder="Search Seattle Central"
                       autocomplete="on">
            </form>
        </div>
    </div>
    <div class="panel-group" id="accordion">
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
</nav>





