{#
/**
* @file
* Default theme implementation to display a search block.
*
* Available variables:
* - plugin_id: The ID of the block implementation.
* - label: The configured label of the block if visible.
* - configuration: A list of the block's configuration values.
*   - label: The configured label for the block.
*   - label_display: The display settings for the label.
*   - module: The module that provided this block plugin.
*   - cache: The cache settings.
*   - Block plugin specific settings will also be stored here.
* - block - The full block entity.
*   - label_hidden: The hidden block title value if the block was
*     configured to hide the title ('label' is empty in this case).
*   - module: The module that generated the block.
*   - delta: An ID for the block, unique within each module.
*   - region: The block region embedding the current block.
* - content: The content of this block.
* - attributes: array of HTML attributes populated by modules, intended to
*   be added to the main container tag of this template.
*   - id: A valid HTML ID and guaranteed unique.
* - title_attributes: Same as attributes, except applied to the main title
*   tag that appears in the template.
* - title_prefix: Additional output populated by modules, intended to be
*   displayed in front of the main title tag that appears in the template.
* - title_suffix: Additional output populated by modules, intended to be
*   displayed after the main title tag that appears in the template.
*
* @ingroup templates
*
* @see template_preprocess_block()
*/
#}

{% set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,'collapse'
] %}
<div class="container">
    <div tabindex="-1" class="search-container">
        <div tabindex="-1" id="searchbar" class="clearfix">
            <form tabindex="-1" id="search-block-form" method="get" action="/search-seattle-central/" accept-charset="UTF-8"
                  data-drupal-form-fields="edit-query,edit-submit-acquia-search">
                <button tabindex="-1" name="search" id="searchsubmit" class="icon ion-search js-form-submit form-submit"></button>
                <input tabindex="0" data-drupal-selector="edit-keys" value="" size="15" maxlength="128" type="search" id="s" name="q"
                       data-toggle="tooltip"
                       data-original-title="Search Seattle Central" placeholder="Search Seattle Central"
                       autocomplete="on">
            </form>
        </div>
    </div>
</div>
{#<div class="container-fluid sc-blue-bg">
    <div class="container">
        <div class="row">
            {% set size =  content.field_search_terms['#items']|length - 1 %}
            {% if size > 0 %}
                <p>Popular Search Term :
                    {% for index in 0..size %}
                        {% if  content.field_search_terms[index]['#url'] and content.field_search_terms[index]['#title'] %}
                            <a href="{{ content.field_search_terms[index]['#url'] }}"> {{ content.field_search_terms[index]['#title'] }} </a>
                            {% if not loop.last %}
                                ,
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            <div class="col-md-12">
                <div id="collapseSearch" {{ attributes.addClass(classes) }}>
                    <form id="" >
                        <div class="form-group sc-search-form-container form-item js-form-item form-type-search js-form-type-search form-item-keys js-form-item-keys form-no-label">
                            <label for="edit-keys" class="control-label sr-only">Search</label>
                            <div class="input-group sc-search-spacing">
                                <input title="" class="form-search form-control"
                                       placeholder="Search Seattle Central" type="search"
                                      " >
                                <span class="input-group-btn">
                                    <button type="submit" value=""
                                            class="button js-form-submit form-submit btn-primary btn btn-block icon-only"
                                            >
                                        <span class="sr-only">Submit</span><span class="icon glyphicon glyphicon-search"
                                                                                 aria-hidden="true">
                                        </span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-actions form-group js-form-wrapper form-wrapper"
                             data-drupal-selector="edit-actions" id="edit-actions"></div>
                    </form>
                </div>
            </div>

        </div> <!-- /container -->
    </div>
</div>
<div class="sc-header-global-menu-search">
    <a class="btn btn-default" role="button" data-toggle="collapse" tabindex="-1"
       data-target="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch"><i class="icon ion-search"></i></a>
</div>#}