<div style="background-image: url({{ file_url(content['field_img']['#object'].field_img.0.entity.uri.value) }})" class="{{ content['field_class_name']['#items'][0].value }}">
    {{ content['body'] }}
</div>