{{ attach_library('scc_heros/nav05-styling') }}

<div id="scSidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="icon ion-close"></i><span class="sr-only">Close navigtion</span></a>
      <div class="container">
        <div class="row">
            <div class="col-sm-3">
              <h3>Programs</h3>
              <ul class="list-unstyled">
                <li><a href="#">Bachelor&apos;s Degrees</a></li>
                <li><a href="#">College Transfer</a></li>
                <li><a href="#">Career Training</a></li>
                <li><a href="#">Basic &amp; Transitional Studies</a></li>
                <li><a href="#">Finish High School</a></li>
                <li><a href="#">Alternate Programs</a></li>
                <li><a href="#">Continuing Education</a></li>
                <li><a href="#">International Student Programs</a></li>
              </ul>
            </div> 
            <div class="col-sm-3">
              <h3>Enrollment &amp; Funding</h3>
              <ul class="list-unstyled">
                <li><a href="#">Enrollment &amp; Admissions</a></li>
                <li><a href="#">Financial Aid &amp; Funding</a></li>
                <li><a href="#">Registration</a></li>
                <li><a href="#">Graduation</a></li>
              </ul>
              <h3>Campus Life</h3>
              <ul class="list-unstyled">
                <li><a href="#">Sudent Support &amp; Resources</a></li>
                <li><a href="#">Student Leadership &amp; Activities</a></li>
                <li><a href="#">Explore Campus</a></li>
              </ul>
            </div> 
            <div class="col-sm-3">
              <h3>About Us</h3>
              <ul class="list-unstyled">
                <li><a href="#">Administrative Services</a></li>
                <li><a href="#">About Seattle Central</a></li>
                <li><a href="#">News &amp; Events</a></li>
                <li><a href="#">Leadership</a></li>
                <li><a href="#">Policies &amp; Procedures</a></li>
                <li><a href="#">Visit Seattle Central</a></li>
                <li><a href="#">Contact Seattle Central</a></li>
              </ul>
            </div> 
            <div class="col-sm-3">
              <h3>Quick Links</h3>
              <ul class="list-unstyled">
                <li><a href="#">Class Schedule</a></li>
                <li><a href="#">Calendar &amp; Events</a></li>
                <li><a href="#">Contact Seattle Central</a></li>
                <li><a href="#">Maps &amp; Directions</a></li>
                <li><a href="#">News &amp; Updates</a></li>
              </ul>
            </div> 
        </div>
      </div>
    </div>

    <div id="scSearch" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeSearch()"><i class="icon ion-close"></i><span class="sr-only">Close search box</span></a>
      <div class="overlay-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>Search Seattle Central</h1>
              <form>
                <div class="form-group sc-search-form-container">
                  <input type="email" class="form-control" id="exampleInputSearch" placeholder="Type to search and hit enter">
                </div>
              </form>
              <p>Popular search terms: <a href="#">Application</a>, <a href="#">MyCentral</a>, <a href="#">Transcripts</a>, <a href="#">FAFSA</a></p>
            </div>
          </div>

        </div> <!-- /container -->
      </div>
    </div>

    <div id="main">

    <header> 
      <!-- Fixed navbar -->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid" style="max-width: 1600px;">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Seattle Central College</a>
            
            <span class="sc-quick-links sc-info-tools-small-screens" style="cursor:pointer" onclick="openNav()"><span class="sr-only">Open side navigation</span> <i class="icon ion-navicon-round"></i> Menu</span>
            <span class="sc-search sc-info-tools-small-screens" style="cursor:pointer" onclick="openSearch()"><span class="sr-only">Open search form</span> <i class="icon ion-search"></i></span>
          </div>
          
            <ul class="nav navbar-nav navbar-right">
              <li class="sc-desktop-user-profiles-nav-items"><a href="#">Current Student</a></li>
              <li class="sc-desktop-user-profiles-nav-items"><a href="#">International</a></li>
              <li class="sc-desktop-user-profiles-nav-items"><a href="#">Community</a></li>
              <li class="sc-desktop-user-profiles-nav-items"><a href="#">Employees</a></li>
              <li class="sc-search" style="cursor:pointer" onclick="openSearch()"><span class="sr-only">Open search form</span> <i class="icon ion-search"></i></li>
              <li class="sc-quick-links" style="cursor:pointer" onclick="openNav()"><span class="sr-only">Open global navigation</span> <i class="icon ion-navicon-round"></i> Menu</li>
            </ul>
                     
        </div>
      </nav>

    </header>

    <div class="container" style="padding-top: 80px;">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Baby Blue Sedan</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eros dui, commodo a est vel, volutpat scelerisque eros. Cras dignissim risus viverra felis pharetra mattis. Nullam rutrum vehicula quam vel molestie.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Primary Button</a>
        </p>
      </div>

    </div> <!-- /container -->

    </div> <!-- /main -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
    function openNav() {
    document.getElementById("scSidenav").style.width = "100%";
    }

    function closeNav() {
    document.getElementById("scSidenav").style.width = "0";
    }

    function openSearch() {
    document.getElementById("scSearch").style.height = "100%";
    }

    function closeSearch() {
    document.getElementById("scSearch").style.height = "0%";
    }
    </script>